@font-face {
   font-family: Gilroy bold;
   src: url(./Gilroy/Gilroy-ExtraBold.otf);
}

@font-face {
   font-family: Gilroy light;
   src: url(./Gilroy/Gilroy-Light.otf);
}
body {
   font-family: "Gilroy bold";
   margin: 0;
   padding: 0;
}
.container {
   max-width: 1250px;
   margin: 0 auto;
}
.header {
   background-color: #ffffff;
   max-width: 1250px;
   margin: 0 auto;
   border-bottom: 1px solid #828282;
   }
.header__nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 88px;
}
.nav__link {
   color: #828282;
   font-size: 18px;
   line-height: 22px;
   text-decoration: none;
   }
.nav__link:hover {
   color: #070707;
}
.profile__wrapper{
   height: auto;
   background: #ffffff;
   }
.profile__description{
   color: #070707;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.profile__foto{
   display: flex;
   justify-content: center;
   align-items: center;
}
.btn-profile{
   font-size: 16px;
   color: #828282;
   text-transform: uppercase;
   transform: rotate(-90deg);
}
.vl {
   border-left: 1px solid #070707;
   padding: 0 2px;
}
.aboutme__wrapper {
   height: auto;
   background: #F6F6F6;
   padding: 120px 0;
}
.description{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #070707;
}
.headline {
   font-size: 34px;
   line-height: 42px;
}
.text {
   font-family: "Gilroy Light";
   font-size: 18px;
   line-height: 22px;
   text-align: center;
   color: #070707;
}
.skills__wrapper {
   height: auto;
   background: #ffffff;
   padding: 120px 0;
}
.image{
   display: flex;
   justify-content: center;
   align-items: center; 
   padding: 20px 0;
   }
.img{
   padding: 60px 80px 20px;
}
.figma{
   display: flex;
   flex-wrap: wrap;
   width: 60px;
   height: 90px;
   padding: 80px 80px 20px;
}
.programs{
   display: flex;
   justify-content: center;
   align-items: center; 
}
.program{
   font-size: 14px;
   text-align: center;
   color: #828282;
   padding: 0px 92px;
}
.portfolio___wrapper{
   height: auto;
   background: #F6F6F6; 
   padding: 120px 0;
}
.contacts__wrapper{
   height: auto;
   background:  #ffffff; 
   padding: 120px 0;
}
.button{
   color: #FFFFFF;
   background: #070707;
   padding: 10px;
   border-radius: 20px;
}
.link{
   display: flex;
   justify-content: center;
   padding: 30px;
   width: 40px;
   height: 40px;
}